.title{
    color: black;
    text-align: center;
}
.title::before{
    content: attr(data-text);
    position: absolute;
    color: #fff;
    width: 100px;
    white-space: nowrap;
    filter: drop-shadow(0 0 5px blue) drop-shadow(0 0 30px Blue);
}
@keyframes title {
    0%, 10%, 100%{
        width: 0;
    }
    50%, 70%{
        width: 100%;
    }
}

input:focus~label,
textarea:focus~label,
input:valid~label,
textarea:valid~label {

    font-size: 0.8em;
    color: #fff;
    top: -11px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
    background: #00cfd5;
    padding: 3px 8px;
    left: 25px;
    border-radius: 50px;
    font-weight: bold;

}

.style-form-input {
    float: left;
    width: 295px;
    margin: 1em 0;
    margin-right: 18px;
    position: relative;
    border-radius: 4px;
    text-align: center;

}

select {
    width: 100%;
    padding: 30px;
    border: 0;
    font-size: 1em;
    background-color: #2d2d2d;
    color: gray;
    border-radius: 50px;
}

label:focus~label,
textarea:focus~label,
label:valid~label,
textarea:valid~label {

    font-size: 0.8em;
    color: #fff;
    top: -11px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
    background: #00cfd5;
    padding: 3px 8px;
    left: 25px;
    border-radius: 50px;
    font-weight: bold;
}

.right {
    float: right;
}

@media only screen and (max-width: 768px) {

    .style-form-input {
        width: 610px;
        max-width: 100%;
    }

}

.style-form-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.style-form-input.full {
    width: 610px;
    max-width: 100%;
}

input,
textarea {

    width: 100%;
    padding: 30px;
    border: 0;
    font-size: 1em;
    background-color: #2d2d2d;
    color: #fff;
    border-radius: 50px;
}

input:focus,
textarea:focus {
    outline: 0;
}

input:focus~span,
textarea:focus~span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 10em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.btn {

    width: 160px;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    padding: 15px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #06bec6;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    border: none;

}

.btn:hover {

    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10),
        0 1px 1px 0 rgba(0, 0, 0, 0.09);

}

@media (max-width: 768px) {

    .btn {

        width: 100%;
        float: none;
        text-align: center;

    }
}

input[type=checkbox]+label {
    color: #ccc;
    font-style: italic;
}

input[type=checkbox]:checked+label {
    color: #f00;
    font-style: normal;
}