/* You can add global styles to this file, and also import other style files */
body{
    background: rgb(174,210,238);
    background: radial-gradient(circle, rgba(174,210,238,1) 0%, rgba(159,108,212,1) 100%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

input{
    cursor: pointer;
}